<launch>

  <arg name="rvizconfig"                    default="$(find turtlebot2i_bringup)/rviz/turtlebot2i_basic.rviz"/>
  <arg name="model"                         default="$(find turtlebot2i_description)/robots/kobuki_interbotix_astra.urdf.xacro"/>

  <param name="robot_description"  command="$(find xacro)/xacro --inorder $(arg model)"/>

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"/>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"/>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rvizconfig)"/>

</launch>
