<?xml version="1.0"?>
<launch>
  
  <arg name="new_rtabmap" default="false"/>
  <arg name="localization" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="rtabmapviz" default="false"/>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <include file="$(find turtlebot2i_bringup)/launch/arms/phantomx_pincher_arm.launch"/>

  <include file="$(find turtlebot_arm_pose_director)/launch/named_pose_director.launch">
    <arg name="load_moveit" value="true"/>
  </include>

  <include file="$(find turtlebot2i_bringup)/launch/interbotix_rtabmap.launch">
    <arg if="$(arg new_rtabmap)" name="args" value="--delete_db_on_start"/>
    <arg name="localization" value="$(arg localization)"/>
    <arg name="rtabmapviz" value="$(arg rtabmapviz)"/>
  </include>

  <include file="$(find turtlebot_zoning_demo)/launch/find_object_3d.launch" />

  <include file="$(find turtlebot_zoning_demo)/launch/zone_detection_node.launch" />
  <include file="$(find turtlebot_zoning_demo)/launch/zone_destination_node.launch" />

  <include file="$(find kobuki_auto_docking)/launch/standalone.launch" />

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_zoning_demo)/rviz/zoning_demo_config.rviz" />
</launch>
