<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="false"/>

  <!--fake gripper publisher-->
  <node name="fake_joint_pub" pkg="phantomx_pincher_arm_bringup" type="fake_joint_pub.py"/>
  
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find phantomx_pincher_arm_bringup)/config/phantomx_pincher_arm.yaml" command="load"/>
    <param name="sim" value="$(arg simulation)"/>
  </node>

  <node name="gripper_controller" pkg="arbotix_controllers" type="gripper_controller" output="screen">
    <rosparam file="$(find phantomx_pincher_arm_bringup)/config/phantomx_pincher_gripper.yaml" command="load" />
  </node>
</launch>
