<?xml version="1.0"?>
<launch>
  
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <include file="$(find turtlebot_bringup)/launch/includes/arms/phantomx_pincher_arm.launch"/>

  <include file="$(find turtlebot_bringup)/launch/includes/3dsensor/f200.launch.xml"/>
  <!--include file="$(find turtlebot_bringup)/launch/includes/3dsensor/TODO/f200_nodelet_rgbd.launch"/-->

  <include file="$(find turtlebot_arm_pose_director)/launch/named_pose_director.launch">
    <arg name="load_moveit" value="true"/>
  </include>

  <include file="$(find turtlebot_bringup)/launch/interbotix_rtabmap.launch" />

  <include file="$(find turtlebot_zoning_demo)/launch/find_object_3d.launch" />

  <include file="$(find turtlebot_zoning_demo)/launch/zone_detection_node.launch" />
  <include file="$(find turtlebot_zoning_demo)/launch/zone_destination_node.launch" />

  <include file="$(find kobuki_auto_docking)/launch/standalone.launch" />
</launch>
